.project-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040404;
    padding: 15px 40px;
    color: white;
  }
  
  .project-nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .project-nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .project-nav-links li a:hover {
    color: #facc15;
  }
  
  .logo {
    font-size: 22px;
    font-weight: bold;
  }
  
  .contact-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .contact-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: inherit;
  }
  
  .contact-options {
    display: none;
    position: absolute;
    background-color: rgb(239, 232, 232);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
  }
  
  .contact-dropdown:hover .contact-options {
    display: flex;
  }
  
  .contact-options a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .contact-options a:hover {
    background-color: #ddd;
  }
  